body{
    background-image: url(./img/aksonvady_Data_technology_futuristic_illustration\ 31\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;

}
p{
color: white;
}
h1, h3, h5{
    color: white;
}